

.notification-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}





.dots::after {
    content: '';
    animation: dots 1.2s steps(1) infinite;
}
.error {
    display: flex;
    padding: 0 50px;

    border: 1px solid #f1b8b8;
    border-radius: 6px;
    background-color: #ffe3e3;
    color: darkred;
    font-size: 14px;
    margin: 0;
    height: 70%;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.error.show {
    opacity: 1;
    pointer-events: auto;
}

.success-msg {
    display: flex;
    color: green;
    font-size: 14px;
    margin: 0;
    height: 100%;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.success-msg.show {
    opacity: 1;
    pointer-events: auto;
}

.error::first-letter {
    text-transform: uppercase;
}

.error::first-letter {
    text-transform: uppercase;
}


@keyframes dots {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}



/**/
.loader {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.loader.show {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}